header.header{
	width: 100%;
	top: 0;
	text-align: center;
	z-index: 2;
	padding: 5em 0 3em;
	
	@include media(max-width 415px){
		padding: 2em 0 3em;
	}
	
	.logo{
		color: #fff;
		text-decoration: none;
		font-size: 6em;
		line-height: 1em;
		
		@include media(max-width $mamabear){
			font-size: 4em;
		}
		
		@include media(max-width 415px){
			font-size: 2.5em;
			margin-bottom: 10px;
		}
		
	}
	
	.page{
		margin-bottom: 0px;
	}
	
	
	
	
	/* nav.site-nav{
		display: inline-block;
		position: relative;
		float: right;
		
		ul{
			margin: 0;
		}
	} */
	
}

.register-button{
	// margin-top: 5px;
	color: #fff !important;
	border: 2px solid #fff !important;
	font-size: 1.2em;
	line-height: 1em;
	padding-top: .6em;
}

.date{
	text-transform: uppercase;
	display: inline-block;
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	font-size: 1em;
	padding: .5em;
	
	@include media(max-width 415px){
		// font-size: 1.3em;
	}
	
}

.img-section{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

.head-section{
	
	background-image: url('../img/sac.jpg');
	
	@include media(max-width $mamabear){
		background-image: url('../img/head-rightpoint5x.jpg');
		background-attachment: scroll;
	}
	
	.section-inner{
		background: rgba(black, 0.5);
	}
	
	.youth-conf{
		width: 250px;
		position: absolute;
		right: 10px;
		bottom: 10px;
		
		@include media(max-width 415px){
			width: 150px;
			right: 50%;
			margin-right: -75px;
			bottom: 20px;
		}
		
	}
	
}

.header-tag{
	color: #fff;
	margin: 2em 0;
	font-size: 1.4em;
}