---
layout: default
title: Home
keyword: index
fulltitle: "Thrive Unleashed | January 16-17, 2015"

speakers: 
  - name: Propaganda
    img: propaganda.jpg
    bio: Dynamic, soulful, experimental, and clever hip hop, focusing on the heart.  
    url: https://www.youtube.com/watch?v=2yoaZXYf5ro
    readmore: "Watch his stuff"
  - name: Bianca Juarez Olthoff
    img: bianca.jpg
    bio: Writer, teacher, and Chief Storyteller for The A21 Campaign
    url: https://twitter.com/biancaolthoff
    readmore: "@biancaolthoff"
  - name: Switchfoot
    img: switchfoot.jpg
    bio: Grammy Award winning alternative band from San Diego, CA. 
    url: https://twitter.com/switchfoot
    readmore: "@switchfoot"
  - name: Bob Goff
    img: bob.jpg
    bio: New York Times Best-Selling Author and speaker.
    url: https://twitter.com/bobgoff
    readmore: "@bobgoff"
  - name: Curt Harlow
    img: curt.jpg
    bio: Teaching Pastor at Bayside Church.
    url: https://twitter.com/curtharlow
    readmore: "@curtharlow"
  - name: Lincoln Brewster
    img: lincoln.jpg
    bio: Internationally-acclaimed worship leader.
    url: https://twitter.com/lincolnbrewster
    readmore: "@lincolnbrewster"
  - name: Thrive Worship Band
    img: thrive.jpg
    url: https://twitter.com/thrivetweets
    readmore: "@thrivetweets"
friday:
  - time: 6:00pm
    title: Check-in begins
  - time: 7:00 - 9:00pm
    title: Session 1
  - time: 9:00 - 9:30pm
    title: Break
  - time: 9:30 - 10:30pm
    title: Concert
  - time: 10:30 - 11:00pm
    title: Break
  - time: 11:00pm - 12:00am
    title: After Party
saturday:
  - time: 9:00-11:00am
    title: Session 2
  - time: 11:30am
    title: Lunch 
  - time: 11:30 - 1:00pm
    title: Afternoon Options
  - time: 1:00 - 3:00pm
    title: Session 3
  - time: "&nbsp;"
    title: "&nbsp;"
  - time: "&nbsp;"
    title: "&nbsp;"
    
sponsorlevels:
  - title: Platinum Partner Sponsor
    price: $15,000
    items:
      - perk: Premium courtyard booth location
      - perk: Double truck ad in conference workbook
      - perk: Inclusion on Thrive Conference website
      - perk: Brand logo on sponsor page in conference workbook
      - perk: Brand slide shown on conference screens (pre-session)
      - perk: Product giveaway promotion from stage
      - perk: 6 VIP conference passes.
      - perk: Two 30 second radio sponsorship placement spots on KFIA 710 Daily Thrive Radio show
      - perk: 1 Hour exclusive one on one leadership session with Pastor Ray Johnston
  - title: Participating Sponsor
    price: $8,000
    items:
      - perk: Premium courtyard booth location
      - perk: Full page ad in conference workbook
      - perk: Inclusion on Thrive Conference website
      - perk: Brand logo on sponsor page in conference workbook
      - perk: Brand slide shown on conference screens (pre-session)
      - perk: Product giveaway promotionfrom stage
      - perk: 5 VIP conference passes  
  - title: Bag Sponsor
    price: $7,500
    items:
      - perk: Company logo printed on bag
      - perk: Sponsor provided bag insert in bag
      - perk: 1 exhibit booth space
      - perk: 2 conference passes
  - title: Partner Sponsor
    price: $4,000
    items:
      - perk: Courtyard booth location
      - perk: Full page ad in conference workbook
      - perk: Inclusion on Thrive Conference website
      - perk: Brand logo on sponsor page inconference workbook
      - perk: Brand slide shown on conference screens (pre-session)
      - perk: 2 Thrive Conference passes
  - title: Name Badge Sponsor
    price: $4000
    items:
      - perk: Logo Printed on name badge
      - perk: 1 sponsor provided bag insert
      - perk: 2 conference passes
  - title: Bonus Session Lunch Sponsor
    price: $2000
    items:
      - perk: Banner with brand logo at lunch location
      - perk: Booth inside lunch location (during lunch only)
      - perk: Brand logo on sponsor page in conference workbook
      - perk: Highlighted mention at lunch from stage
      - perk: Option to add inside booth space – $1000
      - perk: 1 conference pass
  - title: Exhibiting Sponsor
    price: $1,500 - $2,500
    items:
      - perk: Booth location inside/courtyard
      - perk: Inclusion on Thrive Conference website
      - perk: Brand logo on sponsor page in conference workbook
      - perk: 1 Thrive conference pass

---


<section class="tagline-section img-section">
	<div class="section-inner">
		<div class="page">
			Stand together, Be transformed, Make a difference... Now
		</div>
	</div>
</section>
<section class="people-section img-section">
	<div class="section-inner">
		<div class="page">
		{% for person in page.speakers %}
			<div class="person">
				<img title="{{person.name}} - Bio Photo" alt="{{person.name}} - Bio Photo" src="img/people/{{person.img}}">
				<span class="name">{{person.name}}</span>
				<p class="bio">{{person.bio}}</p>
				<a target="_blank" class="read-more" href="{{person.url}}">{{person.readmore}}</a>
			</div>
		{% endfor %}
		</div>
	</div>
</section>
<section class="schedule-section img-section">
	<div class="section-inner">
		<div class="page">
			<div class="schedule-inner">
				<div class="friday">
					<h2>Friday</h2>
					<table>
					{% for activity in page.friday %}
						<tr>
							<td><p>{{activity.time}}</p></td>
							<td><p>{{activity.title}}</p></td>
						</tr>
					{% endfor %}
					</table>
				</div>
				<div class="saturday">
					<h2>Saturday</h2>
					<table>
					{% for activity in page.saturday %}
						<tr>
							<td><p>{{activity.time}}</p></td>
							<td><p>{{activity.title}}</p></td>
						</tr>
					{% endfor %}	
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="map-wrapper">
	<a href="https://www.google.com/maps?daddr=Bayside+Church,+8191+Sierra+College+Blvd,+Roseville,+CA+95661&amp;sll=38.751292600000006,-121.2279627&amp;sspn=0.029051498257616628,0.06712392381494998&amp;t=m&amp;dg=opt&amp;z=15"><img class="map" src="img/map.svg"></a>
</section>
<a class="footer-register" href="https://www.eventbrite.com/e/thrive-unleashed-a-conference-for-students-and-leaders-tickets-13226702423">
	<div class="page">
		Register
	</div>
</a>
<section class="promo">
	<div class="page">
		<h2 class="section-title">For Leaders</h2>
		<p>
			<a href="img/Thrive_Unleashed_Promo.zip" class="button">Promo Resources</a>
			<a target="_blank" class="button" href="http://placertourism.com/event/2015ThriveUnleashed">Hotel Specials</a>
			<a target="_blank" class="button" href="mailto:info@thriveconference.org?subject=Volunteer - Thrive Unleashed">Volunteer</a>
		</p>
	</div>
</section>
<section class="sponsor">
	<div class="page">
		<h2 class="section-title">Sponsorships</h2>
		<p class="sponsorship-opp">For sponsorship opportunities, contact <a href="mailto:steveb@baysideonline.com?subject=Thrive Unleashed 2015 Sponsorship">Steve Batz</a>.</p>
		<!-- <div class="sponsor-levels">
		{% for level in page.sponsorlevels %}
			<div class="sponsor-level">
				<a class="sponsor-head" href="javascript:void(0)"><h3>{{ level.title }}</span> <span class="expand">+</span><span class="contract">--</span> </h3></a>
				<ul>
					{% for item in level.items %}
						<li>{{item.perk}}</li>
					{% endfor %}
				</ul>
			</div>
			{% cycle '', '</div><div class="sponsor-levels">' %}
		{% endfor %}
		</div> -->
	</div>
</section>