<div class="web-wrapper"> <!-- opens here, closes before the footer -->
	<div class="head-section img-section">
		<div class="section-inner">
			<header class="header">
			    <section class="page">
					<h1 class="hidden">{{site.title}}</h1>
				    <a href="/" class="logo"><img alt="Unleashed - Thrive Student Conference" src="/img/logo-blue.png"></a><br>
					<!-- 
				    <div class="date">January <span class="numbers">15 - 16, 2016</span></div>
				    <div class="header-tag">
					    A 2-day life-changing event for students.
				    </div>
				    <a target="_blank" class="register button" href="https://www.eventbrite.com/e/thrive-unleashed-2016-tickets-15387326909">Register</a>
				    -->
			    </section>
			</header>
			<div class="social-links">
				<a target="_blank" class="snapchat" title="Snapchat: thriveunleashed" href="https://itunes.apple.com/us/app/snapchat/id447188370?mt=8"><i class="icon-snapchat"></i></a>
				<a target="_blank" class="facebook" title="facebook.com/thriveunleashed" href="https://facebook.com/thriveunleashed"><i class="icon-uniE603"></i></a>
				<a target="_blank" class="instagram" title="@thriveunleashed" href="https://instagram.com/thriveunleashed"><i class="icon-uniE605"></i></a>
				<a target="_blank" class="twitter" title="@thriveunleashed" href="https://twitter.com/thriveunleashed"><i class="icon-uniE604"></i></a>
			</div>
		</div>
	</div>
