<div class="web-wrapper"> <!-- opens here, closes before the footer -->
	<div class="head-section img-section">
		<div class="section-inner">
			<header class="header">
			    <section class="page">
					<h1 class="hidden">{{site.title}}</h1>
				    <a href="/" class="logo"><i class="icon-unleashed"></i></a><br>
				    <!-- <nav class="site-nav" role="navigation">
				        <ul>
				        	<li><a target="_blank" class="register button" href="https://www.eventbrite.com/e/thrive-unleashed-a-conference-for-students-and-leaders-tickets-13226702423">Register</a></li>
				        </ul>
				    </nav> -->
				    <div class="date">January <span class="numbers">16 - 17, 2015</span></div>
				    <a target="_blank" class="register button" href="https://www.eventbrite.com/e/thrive-unleashed-a-conference-for-students-and-leaders-tickets-13226702423">Register</a>
				    
			    </section>
			</header>
			<a target="_blank" href="http://thriveconference.org"><img src="img/youth-conf.png" class="youth-conf"></a>
		</div>
	</div>
