<section id="marriage-conference" class="marriage-section img-section">
	<div class="section-inner">
        <div class="page">

            <h1 class="uppercase">Thrive Unleashed + Thrive Marriage Conference</h1>
                        
            <img src="img/cover.jpg" class="book-img">
            
            <div class="left-text">   
                
                <h3 class="uppercase">Conference Bundle $59</h3>
                
                    <h4>1 THRIVE Unleashed Student Conference Ticket </h4>
                    
                    <h4>1 THRIVE Marriage Conference Ticket, (add spouse $30)</h4>
                    
                    <span>1 For You & 1 For Your Student</span>

            </div>
            <a href="https://www.eventbrite.com/e/thrive-unleashed-a-conference-for-students-and-leaders-tickets-13226702423" class="button">Get The Bundle</a>
		</div>
	</div>
</section>
