<section id="marriage-conference" class="marriage-section img-section">
	<div class="section-inner">
        <div class="page">

            <h1 class="uppercase">Thrive Unleashed + Thrive Marriage Conference</h1>
                        
            <img src="img/cover.jpg" class="book-img">
            
            <div class="left-text">   
                
                <h3 class="uppercase">$59 Conference Bundle</h3>
                
                <span>Add your spouse for $30 (limited number)</span>
                
                    <h4 class="uppercase">1 Regular Ticket</h4>
                    
                        <span>Unleashed Student Conference - Jan 17-18</span>
                    
                    <h4 class="uppercase">1 Platinum Ticket</h4>
                    
                        <span>Thrive Marriage Conference - Feb 27-28</span><br>
                        
                        <span>Includes Special Q & A with Francis & Lisa + Priority Seating</span>
            </div>
            <a href="https://www.eventbrite.com/e/thrive-unleashed-a-conference-for-students-and-leaders-tickets-13226702423" class="button">Get The Bundle</a>
		</div>
	</div>
</section>
